[user]
	name = Duncan Mac-Vicar P.
	email = duncan.mac-vicar@refurbed.com
[color]
	ui = true
[core]
	whitespace = cr-at-eol
[push]
	default = simple
[code]
	editor = gedit
[alias]
	root = !pwd
[diff]
	tool = meld
