window {
	font-family: NotoSans Mono Nerd Font;
	margin: 0px;
	border: 1px solid #9f9690;
	background-color:  #c9b9b0;
}

#input {
	margin: 5px;
	border: none;
	color: #000000;
	background-color: #fbf7f0;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color:  #c9b9b0;
}

#outer-box {
	margin: 5px;
	border: none;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #000000;
}

#entry.activatable #text {
	color: #585858;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
	background-color: #f1d5d0;
}

#entry:selected #text {
	font-weight: bold;
}
