custom.el
eln-cache
.local
.lsp-session-*
auto-save-list
straight
transient
url
history
projects
recentf
# todo change the path in the emacs config
# to .cache or similar
.dap-breakpoints
.extension/
diary
elpa
excorporate
