
* {
    border: none;
    border-radius: 0;
	font-family: Noto Sans ExtraCondensed Display Thin;
    font-size: 13pt;
    min-height: 0;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right {
	margin: 3px 0px 5px 0px;
}

 .modules-right * {
	margin: 0px 5px 0px 5px;
 }

 tooltip {
  background: #efe9dd;
  border: 1px solid #9f9690;
}

 tooltip label {
  color: black;
}

#taskbar {
    padding-left: 5px;
}

#clock {
    margin-right: 5px;
}

#taskbar button {
    margin: 3px 0px 5px 0px;
}

#taskbar button.active {

}

#taskbar button.minimized {
}

#taskbar button.maximized {

}

#taskbar button.fullscreen {

}

#tray {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    color: black;
}

#bluetooth {
    color: blue;
}

#custom-launcher.start {
    color: white;
    font-size: 20pt;

    padding: 0px 20px 0px 10px;
    margin: 3px 5px 5px 5px;
}

#custom-launcher.home {
    color: white;
    margin: 0px 10px 0px 10px;
}

#custom-launcher.yubikey {
    color: white;
    margin: 0px 10px 0px 10px;
}
