
* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 10pt;
    min-height: 0;
}

window.eDP-1 * {
	font-family: "monospace";
	font-size: 10pt;
}

window#waybar {
	background-color: #c9b9b0;
    border-bottom: 2 solid #595959;
    color: black;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
	margin: 3px 1px 5px 1px;

}

.modules-right {
	box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    padding: 0px 5px 0px 5px;
	margin: 5px 5px 5px 0px;
}

.modules-right > *:not(:last-child) {
}

tooltip {
  background: #efe9dd;
  border: 1px solid #9f9690;
}


tooltip label {
  color: black;
}

#taskbar {
    padding-left: 5px;
}

#clock {
    margin-right: 5px;
}

#workspaces button {
	box-shadow: inset 1px 1px #fff,inset -1px -1px grey;
    margin: 1px 1px 1px 1px;
}

#workspaces button.focused {
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey;
}

#taskbar button {
    box-shadow: inset 1px 1px #fff,inset -1px -1px grey;
}

#taskbar button.active {
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey;
}

#taskbar button.minimized {
}

#taskbar button.maximized {

}

#taskbar button.fullscreen {

}

#tray {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 5px;
    color: black;
}

#tray * {
    margin: 5px 0px 5px 0px;
}

#custom-start {
	box-shadow: inset 1px 1px #fff,inset -1px -1px grey;
    margin: 1px 1px 1px 1px;
    color: #2a5045;
}

#custom-home {
    color: #2a5045;
}
